---
- name: install CLI tools
  homebrew: name={{ item }} state=present
  with_items:
    - gpg
    - ssh-copy-id
    - git
    - node
    - markdown
    - ag
    - s3cmd
    - brew-cask
    - wget
    - heroku-toolbelt
    - python
    - ruby
    - rbenv
    - ruby-build
    - brew-gem
    - brew-pip
    - yuicompressor
    - watchman
    - ffmpeg
    - youtube-dl
  when: ansible_os_family == 'Darwin'

- name: install gem tools
  gem: name={{ item }} state=present
  with_items:
    - kramdown
    - powder
  when: ansible_os_family == 'Darwin'

- name: install binary casks
  homebrew_cask: name={{ item }} state=present
  with_items:
    - iterm2
    - diffmerge
    - xquartz
    - charles
    - dropbox
    - flash
    - flux
    - istat-menus
    - trailer
    - moom

  when: ansible_os_family == 'Darwin'

- name: apply OS X for hackers settings
  script: osx
  when: ansible_os_family == 'Darwin'
